.reviews-summary-container {
	display: flex;
	column-gap: 8%;
	margin-bottom: 20px;
}

.reviews-avg {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	column-gap: 12px;
}

.avg-rating {
	color: rgba(0, 0, 0, 0.9);
    font-size: 64px;
    font-weight: 300;
	line-height: 1;
}

.review-star-filled, .review-star-empty {
	font-size: 28px;
	margin-left: 7px;
}

.review-star-filled {
	color: #3483fa;
}

.review-star-empty {
	color: rgba(0, 0, 0, 0.1);
}

.review-counter-text {
	font-size: 14px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.55);
}

.review-counter-star {
	display: flex;
	column-gap: 20px;
	white-space: nowrap;
	color: var(--grey);
}

.review-counter-star-text {
	width: 72px;
	text-align: end;
}

.review-counter-bar {
	width: 110px;
    height: 4px;
	display: flex;
	justify-content: flex-start;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 100px;
	margin: auto 0;
}

.review-counter-bar-filled {
	background-color: #3483fa;
	border-radius: 100px;
}

.reviews-main-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
}

.btn-review-category {
	font-size: 16px;
	font-weight: 600;
	padding: 13px 24px;
	text-align: center;
	color: rgba(0, 0, 0, 0.9);
	flex-grow: 1;
}

.btn-review-category-selected {
	border-bottom: 2px solid #3483fa;
	color: #3483fa;
}

.btn-review-category:hover {
	color: #3483fa;
}

.new-review-container {
	margin-bottom: 40px;
}

.new-review-container h3 {
	font-size: 18px;
    font-weight: 600;
	margin: 40px 0 20px 0;
}

.new-review-stars {
	margin-bottom: 15px;
}

.new-review-star {
	font-size: 40px;
	margin-left: 20px;
	cursor: pointer;
}

.new-review-star:first-child {
	margin-left: 0;
}

.new-review-input-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

.new-review-input-container input,
.new-review-input-container textarea {
    padding: 10px 15px;
    border: 1px solid rgba(185, 185, 185, 0.9);
    color: rgba(0, 0, 0, 0.9);
    border-radius: 6px;
	font-family: "Proxima Nova", sans-serif;
    font-size: 16px;
	margin-top: 10px;
}

.new-review-input-container input:focus,
.new-review-input-container textarea:focus {
	outline: none;
	padding: 9px 14px;
	border: 2px solid #2968c8;
}

.new-review-input-container textarea {
	resize: vertical;
    color: rgba(0, 0, 0, 0.9);
}

.new-review-input-container textarea::placeholder {
	color: rgba(0, 0, 0, 0.25);
}

.new-review-characters-text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5px;
	color: rgba(0, 0, 0, 0.55);
}

.btn-new-review {
	display: block;
	width: 150px;
	margin: 0 0 0 auto;
}

.new-review-error {
	color: #f04449;
	display: flex;
	align-items: center;
	column-gap: 5px;
	font-weight: 600;
	margin-top: 5px;
}

/* -------- DARK MODE -------- */

main.dark-mode .reviews-summary-container p,
main.dark-mode .new-review-characters-text,
main.dark-mode .reviews-main-buttons button {
	color: rgb(230, 230, 230);
}

main.dark-mode .review-star-empty {
	color: rgba(255, 255, 255, 0.2);
}
