.card-container {
	width: 225px;
	height: 345px;
	cursor: pointer;
	border: 1px solid #f5f5f5;
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
	border-radius: 4px;
	background-color: #FFF;
}

.card-container:hover {
	box-shadow: 0 7px 11px 0 rgb(0 0 0 / 10%), 0 2px 4px 0 rgb(0 0 0 / 10%);
}

.card-container img {
	width: 100%;
	height: 225px;
	object-fit: contain;
	border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.card-body {
	padding: 8px 16px 16px 16px;
}

.card-body h3 {
	font-size: 22px;
	font-weight: 400;
	color: #333;
	margin: 0 0 4px 0;
	line-height: 1.15;
}

.card-body p {
	font-size: 14px;
	max-height: 2.6em;
    overflow: hidden;
	color: rgba(0, 0, 0, 0.8);
}

.card-free-shipping {
	font-size: 14px;
	font-weight: 600;
	color: #00a650 !important;
	margin-bottom: 3px;
}