.info-header-container {
	height: 100px;
	background-color: red;
	color: #FFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.info-header-container a {
	color: #FFF;
	font-weight: 600;
}

@media screen and (max-width: 860px) {
	.info-header-container p {
		text-align: center;
		padding: 0 3em;
	}
}

@media screen and (max-width: 520px) {
	.info-header-container p {
		font-size: 12px;
	}
}
