.seller-posts-container {
	margin-top: 40px;
}

.seller-posts-card-container {
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 1200px) {
	.seller-posts-card-container {
		overflow-x: auto;
    	overflow-y: hidden;
		column-gap: 20px;
	}

	.seller-posts-card-container * {
		width: 225px;
	}
}