.product-carousel {
	margin-top: 40px;
}

.product-carousel-title {
	color: #333;
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 24px;
}

.products-carousel-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 1200px) {
	.product-carousel {
		padding: 0 16px;
	}

	.products-carousel-container {
		overflow-x: auto;
    	overflow-y: hidden;
		column-gap: 20px;
	}

	.products-carousel-container * {
		width: 225px;
	}
}

/* -------- DARK MODE -------- */

main.dark-mode .product-carousel-title {
	color: rgb(230, 230, 230);
}
