section.product-details-grid {
	display: grid;
	grid-template-columns: 2.1fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	border-radius: 4px;
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
}

/* ------ RIGHT COLUMN ------ */

.right-column {
	grid-column: 2;
	grid-row: 1;
	padding: 1em;
}

/* ------ LEFT COLUMN ------ */

.left-column {
	grid-column: 1;
	grid-row: 1;
	padding: 1em;
}

.product-details-hr {
	background: rgba(0, 0, 0, 0.1);
	border: 0px;
	height: 1px;
	margin: 0;
}