.main-container {
	width: 1200px;
	margin: auto;
}

.d-inline-block {
	display: inline-block;
}

/* -------- MARGINS -------- */

.mt-8px {
	margin-top: 8px;
}

.mt-15px {
	margin-top: 15px;
}

.mt-24px {
	margin-top: 24px;
}

.mt-0 {
	margin-top: 0;
}

.mb-4px {
	margin-bottom: 4px;
}

.mb-8px {
	margin-bottom: 8px;
}

.mb-12px {
	margin-bottom: 12px;
}

.mb-24px {
	margin-bottom: 24px;
}

.mb-40px {
	margin-bottom: 40px;
}

.mr-24px {
	margin-right: 24px;
}

.mx-10px {
	margin: 0 10px !important;
}

.mx-30px {
	margin: 0 30px;
}

/* -------- PADDINGS -------- */

.pt-15px {
	padding-top: 15px;
}

.pb-90px {
	padding-bottom: 90px;
}

/* -------- FONT SIZES -------- */

.fs-12px {
	font-size: 12px;
}

.fs-14px {
	font-size: 14px;
}

.fs-16px {
	font-size: 16px;
}

.fs-18px {
	font-size: 18px !important;
}

.fs-24px {
	font-size: 24px;
}

/* -------- TEXT COLORS -------- */

.text-grey {
	color: var(--grey);
}

.text-green {
	color: #00a650;
}

/* -------- BACKGROUND COLORS -------- */

.bg-white {
	background-color: #FFF;
}

/* -------- BUTTONS -------- */

.btn-blue {
	width: 100%;
	background-color: #3484fa;
	color: #FFF;
	line-height: 1;
    padding: 12px 0;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #3484fa;
    cursor: pointer;
    text-decoration: none;
	transition: 0.2s;
}

.btn-blue:hover {
	background-color: #2968c8;
}

.btn-outline-blue {
	width: 100%;
	background: #FFF;
    color: #3484fa;
	line-height: 1;
    padding: 12px 0;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #3484fa;
    cursor: pointer;
    text-decoration: none;
}

.btn-light-blue {
	width: 100%;
	background-color: rgba(65, 137, 230, 0.15);
    color: #3483fa;
	line-height: 1;
    padding: 12px 0;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
	transition: 0.2s;
}

.btn-light-blue:hover {
	background-color: rgba(65, 137, 230, 0.2);
}

/* -------- DARK MODE -------- */

header, main, footer, button, svg, p, span, small, h1, h2, h3, h4, h5, h6 {
	transition: color 0.2s ease, background-color 0.2s ease;
}

header, main, footer {
	transition: background-color 0.2s ease;
}

header.dark-mode nav.nav-navbar,
header.dark-mode nav.nav-navbar > *,
header.dark-mode .navbar-mobile-main-container,
header.dark-mode .shipping-address-mobile {
	background-color: #2a2a2a;
}

header.dark-mode nav.nav-navbar {
	border-bottom-color: #494949;
}

header.dark-mode nav.nav-navbar p,
header.dark-mode nav.nav-navbar h3,
header.dark-mode nav.nav-navbar button,
header.dark-mode nav.nav-navbar svg:not(.search-icon) {
	color: rgb(230, 230, 230);
}

header.dark-mode .btn-outline-blue {
	background: transparent;
}

main.dark-mode {
	background-color: #353535;
	color: rgb(230, 230, 230);
}

main.dark-mode .product-details-grid {
	background-color: #2a2a2a;
}

main.dark-mode .product-details,
main.dark-mode .seller-info,
main.dark-mode .additional-info-container {
	background-color: #232323;
}

footer.dark-mode {
	background-color: #2a2a2a;
	color: rgb(230, 230, 230);
	border-top-color: #494949;
}
